.mainSubtitle {
    display: block;
    max-width: 26rem;
    padding: 0 2em;
    font-size: 1.5rem;
    font-weight: 400;
    line-height: 1.5;
}

@media only screen and (max-width: 480px) {
    .mainSubtitle {
        font-size: 1rem;
    }
}

@media only screen and (min-width: 46em) {
    .mainSubtitle {
        max-width: max-content;
    }
}