.ButtonSubscription {
    display:block;
    height: 4em;
    border-radius: 0.5em;
    padding: 0 2em;
    text-align: center;
    background-color: var(--txt1);
    color: var(--bg2);
    border: none;
    outline: none;
    font-size: 1rem;
    font-weight: 600;
    cursor: pointer;
}

.ButtonSubscription:hover, .ButtonSubscription:active {
    opacity: 0.9;
}