.about {
    display: flex;
    flex-direction: column;
    margin: -5em auto 2em;
    padding-top: 2em;
    background-color: transparent;
    color: var(--txt1);
    text-align: center;
}

.about > p {
    margin: 0;
    padding: 0 1em;
    line-height: 1.2;
}

.about > img {
    height: 10em;
    padding-bottom: 2em;
}

.about > .buttonContainer {
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin: 0 auto;
    gap: 0.5em;
    padding: 1em;
    max-width: 20em;
}

.about > .buttonContainer > .ButtonSubscription {
    width: 100%;
    height: 2em;
}

.about > h2 {
    align-self: center;
    font-size: 4rem;
    will-change: auto;
    display: block;
    background-repeat: no-repeat;
    background-image: url("../../atoms/images/gradient.jpg");
    background-clip: text;
    -webkit-background-clip: text;
    color: transparent;
    animation: gradient 9s linear infinite;
}

@keyframes gradient {
    0% {
        background-position: 10% 10%;
        background-size: 200%;
    }
    25% {
        background-position: 50% 30%;
        background-size: 200%;
    }
    50% {
        background-position: 90% 90%;
        background-size: 200%;
    }
    75% {
        background-position: 30% 50%;
        background-size: 200%;
    }
    100% {
        background-position: 10% 10%;
        background-size: 200%;
    }
}
