.banner {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    min-height: 30em;
    height: 100vh;
    background-color: var(--bg1);
    color: #fff;
    font-family: "SF Pro Display","SF Pro Icons","Helvetica Neue","Helvetica","Arial",sans-serif;
    text-align: center;
}

.banner * {
    z-index: 2;
}

.banner h2 {
    margin: 0 auto;
}

.banner p {
    margin: 0 auto 2em;
    max-width: 36rem;
}

.banner > .arrow {
    margin: 0 auto 2em;
    border: solid var(--txt1);
    border-width: 0 0.5rem 0.5rem 0;
    display: inline-block;
    padding: 0.5rem;
    transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
}

.banner > .ButtonSubscription {
    max-width: 20rem;
    margin: 2em auto;
    align-self: center;
}

.ButtonSubscription > a {
    text-decoration: transparent;
}

.ButtonSubscription > a:link,
.ButtonSubscription > a:visited {
    color: var(--bg1);
}

h1 {
    will-change: auto;
    display: block;
    background-repeat: no-repeat;
    background-image: url("../../atoms/images/gradient.jpg");
    /*background-size: 200%;*/
    background-clip: text;
    -webkit-background-clip: text;
    color: transparent;
    animation: gradient 9s infinite;
}

@keyframes gradient {
    0% {
        background-position: 10% 10%;
        background-size: 200%;
    }
    25% {
        background-position: 40% 20%;
        background-size: 300%;
    }
    50% {
        background-position: 85% 85%;
        background-size: 200%;
    }
    75% {
        background-position: 20% 40%;
        background-size: 300%;
    }
    100% {
        background-position: 10% 10%;
        background-size: 200%;
    }
}