.banner {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    min-height: 30em;
    height: 100vh;
    background-color: var(--bg1);
    color: #fff;
    font-family: "SF Pro Display","SF Pro Icons","Helvetica Neue","Helvetica","Arial",sans-serif;
    text-align: center;
}

.banner * {
    z-index: 2;
}

.banner h2 {
    margin: 0 auto;
}

.banner p {
    margin: 0 auto 2em;
    max-width: 36rem;
}

.banner > .arrow {
    margin: 0 auto 2em;
    border: solid var(--txt1);
    border-width: 0 0.5rem 0.5rem 0;
    display: inline-block;
    padding: 0.5rem;
    transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
}

.banner > .ButtonSubscription {
    max-width: 20rem;
    margin: 2em auto;
    align-self: center;
}

.ButtonSubscription > a {
    text-decoration: transparent;
}

.ButtonSubscription > a:link,
.ButtonSubscription > a:visited {
    color: var(--bg1);
}

.banner > .carousel {
    position: absolute;
    display: flex;
    flex-direction: row;
    opacity: 0.5;
    z-index: 1;
    min-height: 30em;
    height: 100vh;
    animation: posters 30s linear infinite;
}

@keyframes posters {
  0% {
    transform: translate3d(0, 0, 0);
  }

  100% {
    transform: translate3d(-2000px, 0, 0);
  }
}