.banner {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    min-height: 30em;
    height: 100vh;
    background-color: var(--bg1);
    color: var(--txt1);
    text-align: center;
}

.banner h2 {
    margin: 0 auto;
}

.banner p {
    margin: 0 auto 2em;
    max-width: 36rem;
    color: var(--txt2);
}

.banner a {
    margin: 0 auto 2em;
    border: solid var(--txt1);
    border-width: 0 0.5rem 0.5rem 0;
    display: inline-block;
    padding: 0.5rem;
    transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
}
