:root {
    --bg1: #111;
    --bg2: #333;
    --txt1: #eee;
    --txt2: #aaa;
}

html {
    scroll-behavior: smooth;
}

body {
    margin: 0 auto;
    padding: 0;
    min-width: 320px;
    max-width: 90em;
    background-color: var(--bg2);
    font-family: "SF Pro Display","SF Pro Icons","Helvetica Neue","Helvetica","Segoe UI",sans-serif;
}