.content-box {
    background-color: var(--bg1);
    margin: 2em 0;
}

.content-box > .title {
    padding: 1em;
}

.content-buttons {
    display: grid;
    grid-template-columns: repeat( auto-fit, minmax(5em, 1fr) );
    margin: 1em auto;
}