.content-box {
    display: flex;
    flex-direction: column;
    margin: 2em auto;
    padding: 0;
    background-color: hsl(250, 50%, 50%);
}

.content-box:nth-of-type(2) {
    background-color: aqua;
}

.content-titles {
    display: flex;
    flex-direction: column;
    justify-content: center;
    max-width: 30em;
    margin: 0 auto;
    height: 10em;
    padding: 1em;
}

.content-titles > .title{
    padding-bottom: 1em;
}

.content-box > img {
    display: flex;
    justify-content: center;
    margin: auto;
    padding-bottom: 0.5em;
    width: 80%;
    height: auto;
    min-width: calc(320px - 3em);
}

.content-buttons {
    display: flex;
    flex-direction: row;
    width: calc(100% - 4em);
    gap: 0.5em;
    align-self: flex-end;
    padding: 0 2em 2em;
}

.content-buttons > button {
    margin: 0;
    padding: 0;
    width: 100%;
}

@media only screen and (min-width: 721px) {
    .content-box {
        display: grid;
        flex-direction: initial;
        padding-top: 1em;
        height: 25em;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 2fr 2fr 1fr;
        grid-template-areas:
        "title      image"
        "subtitle   image"
        "buttons   buttons";
    }

    .content-titles > .title {
        grid-area: title;
        align-self: flex-end;
    }

    .content-titles > .subtitle {
        grid-area: subtitle;
    }

    .content-box img {
        grid-area: image;
        display: flex;/*
        margin: 1em auto;*/
        max-height: 15em;
        object-fit: cover;
        object-position: 50% 50%;
    }

    .content-buttons {
        grid-area: buttons;
    }

    .content-titles {
        display: flex;
        flex-direction: column;
        margin: 0 auto;
        padding-top: 5em;
    }

}

@media only screen and (min-width: 420px) and (max-width: 599px) {

    .content-buttons {
        display: grid;
        grid-template-columns: 1fr 1fr;
    }

    .content-buttons > button {
        height: 2.5em;
    }

}

@media only screen and (min-width: 600px) and (max-width: 999px) {

    .content-buttons {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
    }

    .content-buttons > button {
        height: 2.5em;
    }
}

@media only screen and (max-width: 419px) {

    .content-buttons {
        display: flex;
        flex-direction: column;
        gap: 0.5em;
    }

    .content-buttons > button {
        max-width: 100%;
        height: 2em;
        padding: 0;
    }
}