.content-box {
    display: flex;
    flex-direction: column;
    margin: 2em 0;
    background-color: var(--bg1);
}

.content-box > .title, .content-box > .subtitle {
    max-width: 30em;
    margin: 0 auto;
    padding: 1em 1em 0;
}

.content-box > .title {
    height: 3.5rem;
}
.content-box > .subtitle {
    height: 6em;
}

.content-box > img {
    display: flex;
    margin: 1em auto;
    height: 8em;
    object-fit: none;
    object-position: 50% 50%;
}

.content-buttons {
    display: flex;
    flex-direction: row;
    width: calc(100% - 4em);
    gap: 0.5em;
    align-self: flex-end;
    padding: 0 2em 2em;
}

.content-buttons > button {
    margin: 0;
    padding: 0;
    width: 100%;
}

@media only screen and (min-width: 721px) {
    .content-box {
        display: grid;
        flex-direction: initial;
        height: 25em;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 2fr 2fr 1fr;
        grid-template-areas:
        "title      image"
        "subtitle   image"
        "buttons   buttons";
    }

    .content-box > .title {
        grid-area: title;
        align-self: flex-end;
    }

    .content-box > .subtitle {
        grid-area: subtitle;
    }

    .content-box > img {
        grid-area: image;
        display: flex;
        margin: 0 auto;
        height: 100%;
        object-fit: none;
        object-position: 50% 50%;
    }

    .content-buttons {
        grid-area: buttons;
    }
}

@media only screen and (min-width: 420px) and (max-width: 599px) {

    .content-buttons {
        display: grid;
        grid-template-columns: 1fr 1fr;
    }

    .content-buttons > button {
        height: 2.5em;
    }
}

@media only screen and (min-width: 600px) and (max-width: 999px) {

    .content-buttons {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
    }

    .content-buttons > button {
        height: 2.5em;
    }
}

@media only screen and (max-width: 419px) {

    .content-buttons {
        display: flex;
        flex-direction: column;
        gap: 0.5em;
    }

    .content-buttons > button {
        max-width: 100%;
        height: 2em;
        padding: 0;
    }
}