.imageText, .textImage {
    max-width: 75em;
    margin: 2em auto;
    overflow: hidden;
}

.imageText > h2, .textImage > h2, .imageText > p, .textImage > p {
    max-width: 30em;
    margin: 1em auto;
}

.imageText > img, .textImage > img {
    display: flex;
    margin: 2em auto;
    height: 15em;
    object-fit: none;
    object-position: 50% 50%;
}

/* background */
.imageText {
    background-image: url("../../atoms/images/1.jpg");
}
.textImage {
    background-image: url("../../atoms/images/2.jpg");
}

/* mobile */
@media only screen and (min-width: 720px) {
    .imageText, .textImage {
        display: grid;
        height: 20em;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr 1fr;
    }

    .imageText {
        grid-template-areas:
        "image title"
        "image subtitle";
    }

    .textImage {
        grid-template-areas:
        "title image"
        "subtitle image";
    }

    .imageText > h2, .textImage > h2 {
        grid-area: title;
        align-self: flex-end;
    }

    .imageText > p, .textImage > p {
        grid-area: subtitle;
    }

    .imageText > img, .textImage > img {
        grid-area: image;
        display: flex;
        margin: 0 auto;
        height: 20em;
        object-fit: none;
        object-position: 50% 50%;
    }
}