.imageText, .textImage {
    max-width: 75em;
    margin: 2em auto;
    padding-bottom: 2em;
    overflow: hidden;
}

.imageText > h2, .textImage > h2, .imageText > p, .textImage > p {
    max-width: 30em;
    margin: 0 auto;
    padding: 1em 1em 0;
}

.imageText > img, .textImage > img {
    display: flex;
    margin: 2em auto 0;
    height: 10em;
    object-fit: cover;
}

/* background */
.imageText {
    background-color: var(--bg1);
}
.textImage {
    background-color: var(--bg1);
}

/* mobile */
@media only screen and (min-width: 721px) {
    .imageText, .textImage {
        display: grid;
        height: 20em;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr 1fr;
    }

    .imageText {
        grid-template-areas:
        "image title"
        "image subtitle";
    }

    .textImage {
        grid-template-areas:
        "title image"
        "subtitle image";
    }

    .imageText > h2, .textImage > h2 {
        grid-area: title;
        align-self: flex-end;
    }

    .imageText > p, .textImage > p {
        grid-area: subtitle;
    }

    .imageText > img, .textImage > img {
        grid-area: image;
        display: flex;
        margin: 1em auto;
        height: 20em;
        object-fit: cover;
        object-position: 50% 50%;
    }
}